# 
# <font color='blue'>Introduction to Pandas </font>

# 
## <font color='blue'> Here we will cover the following topics in Pandas.
    1. Read/load data 
    2. How to select columns and rows
    3. How to convert string/int columns to datetime columns
    4. How to filter rows

## 
## <font color='blue'> 1. First Read the data. </font>

We are going to use `pandas` to load the data from `github.com`. 
First you need to get the raw url for the file you want to import. 
In our case, this is the link for `states_daily_4pm_et.csv`:https://raw.githubusercontent.com/thoo/covid-tracking-data/master/data/states_daily_4pm_et.csv .
First import the libraries we need.

In [4]:
import pandas as pd

In [2]:
df_daily = pd.read_csv(
    "https://raw.githubusercontent.com/thoo/covid-tracking-data/master/data/states_daily_4pm_et.csv"
)

## 
### <font color='red'> How do you get the first 10 rows?

#### Let look at the first 5 lines of the table.

In [3]:
df_daily.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200710,AK,1323.0,140608.0,NaN,30.0,NaN,NaN,NaN,0.0,...,141931,0,0,7337a3e96732733e1dad90b6631e3e4316bba0ff,0,0,0,0,0,NaN
1,20200710,AL,50508.0,441708.0,NaN,1183.0,3089.0,NaN,888.0,NaN,...,492216,36,50,9e12c62a712d9f83add02bd471d6608745a2c76a,0,0,0,0,0,NaN
2,20200710,AR,26803.0,338609.0,NaN,402.0,1743.0,NaN,NaN,84.0,...,365412,4,38,3ebd2a7aee71250e30472d87c0a43986dfcd32aa,0,0,0,0,0,NaN
3,20200710,AS,0.0,816.0,NaN,NaN,NaN,NaN,NaN,NaN,...,816,0,0,004c2c497969b52749e6bc8d88e68f7e39c1818b,0,0,0,0,0,NaN
4,20200710,AZ,116892.0,552319.0,NaN,3432.0,5659.0,876.0,NaN,615.0,...,669211,44,133,2c23eaf50b677706200aa0be2e84a000193f759f,0,0,0,0,0,NaN

####  
#### <font color='red'> How do you get the first 10 rows? 
#### <font color='red'> How do you get the tail instead of head?
#### <font color='red'> Can you also load another cvs data from github raw url?

## 
## <font color='blue'> Check dataframe info, data type and etc.

In [6]:
df_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129 entries, 0 to 7128
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      7129 non-null   int64
 1   state                     7129 non-null   object
 2   positive                  7114 non-null   float64
 3   negative                  6973 non-null   float64
 4   pending                   986 non-null    float64
 5   hospitalizedCurrently     4506 non-null   float64
 6   hospitalizedCumulative    3668 non-null   float64
 7   inIcuCurrently            2318 non-null   float64
 8   inIcuCumulative           972 non-null    float64
 9   onVentilatorCurrently     2029 non-null   float64
 10  onVentilatorCumulative    342 non-null    float64
 11  recovered                 4118 non-null   float64
 12  dataQualityGrade          6028 non-null   object
 13  lastUpdateEt              6785 non-null   object
 14  dateModified              6785 non-null   object
 15  checkTimeEt               6785 non-null   object
 16  death                     6431 non-null   float64
 17  hospitalized              3668 non-null   float64
 18  dateChecked               6785 non-null   object
 19  totalTestsViral           2185 non-null   float64
 20  positiveTestsViral        822 non-null    float64
 21  negativeTestsViral        834 non-null    float64
 22  positiveCasesViral        3725 non-null   float64
 23  deathConfirmed            2040 non-null   float64
 24  deathProbable             1233 non-null   float64
 25  fips                      7129 non-null   int64
 26  positiveIncrease          7129 non-null   int64
 27  negativeIncrease          7129 non-null   int64
 28  total                     7129 non-null   int64
 29  totalTestResults          7129 non-null   int64
 30  totalTestResultsIncrease  7129 non-null   int64
 31  posNeg                    7129 non-null   int64
 32  deathIncrease             7129 non-null   int64
 33  hospitalizedIncrease      7129 non-null   int64
 34  hash                      7129 non-null   object
 35  commercialScore           7129 non-null   int64
 36  negativeRegularScore      7129 non-null   int64
 37  negativeScore             7129 non-null   int64
 38  positiveScore             7129 non-null   int64
 39  score                     7129 non-null   int64
 40  grade                     0 non-null      float64
dtypes: float64(19), int64(15), object(7)
memory usage: 2.2+ MB

This is the helper function to get the columns if you know the name of the columns **partially**.

# 
### To list all columns' name

In [75]:
df_daily.columns.tolist()

['date',
 'state',
 'positive',
 'negative',
 'pending',
 'hospitalizedCurrently',
 'hospitalizedCumulative',
 'inIcuCurrently',
 'inIcuCumulative',
 'onVentilatorCurrently',
 'onVentilatorCumulative',
 'recovered',
 'dataQualityGrade',
 'lastUpdateEt',
 'dateModified',
 'checkTimeEt',
 'death',
 'hospitalized',
 'dateChecked',
 'totalTestsViral',
 'positiveTestsViral',
 'negativeTestsViral',
 'positiveCasesViral',
 'deathConfirmed',
 'deathProbable',
 'fips',
 'positiveIncrease',
 'negativeIncrease',
 'total',
 'totalTestResults',
 'totalTestResultsIncrease',
 'posNeg',
 'deathIncrease',
 'hospitalizedIncrease',
 'hash',
 'commercialScore',
 'negativeRegularScore',
 'negativeScore',
 'positiveScore',
 'score',
 'grade']

In [31]:
def getcols(name, df):

    """
    Return a list of columns partially matched to the give name.
    
    Parameters
    ----------
    name : str
    df : DataFrame
    
    Returns
    -------
    list
        The list of the name of columns which are partially matched.
        
    Examples
    --------
    >>> getcols('date',df)
    ['admitdate','dischargedate']
    
    """

    return [col for col in df.columns if name in col]

#### Check the info about the function.

In [32]:
help(getcols)

Help on function getcols in module __main__:

getcols(name, df)
    Return a list of columns partially matched to the give name.

    Parameters
    ----------
    name : str
    df : DataFrame

    Returns
    -------
    list
        The list of the name of columns which are partially matched.

    Examples
    --------
    >>> getcols('date',df)
    ['admitdate','dischargedate']

#### Or check any python function.

In [33]:
help(pd.DataFrame.head)

Help on function head in module pandas.core.generic:

head(self: ~FrameOrSeries, n: int = 5) -> ~FrameOrSeries
    Return the first `n` rows.

    This function returns the first `n` rows for the object based
    on position. It is useful for quickly testing if your object
    has the right type of data in it.

    For negative values of `n`, this function returns all rows except
    the last `n` rows, equivalent to ``df[:-n]``.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    same type as caller
        The first `n` rows of the caller object.

    See Also
    --------
    DataFrame.tail: Returns the last `n` rows.

    Examples
    --------
    >>> df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the first 5 lines

    >>> df.head()
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey

    Viewing the first `n` lines (three in this case)

    >>> df.head(3)
          animal
    0  alligator
    1        bee
    2     falcon

    For negative values of `n`

    >>> df.head(-3)
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot

## 
## <font color='blue'> Let check the datetime columns using `getcols` helper function.

In [34]:
getcols("date", df_daily)

['date', 'lastUpdateEt', 'dateModified', 'dateChecked']

## 
## <font color='blue'> 2. Now let find out how we can select columns in Pandas

### By column names

In [37]:
df_daily[["date", "lastUpdateEt", "dateModified"]].head()

       date     lastUpdateEt          dateModified
0  20200710  7/10/2020 00:00  2020-07-10T00:00:00Z
1  20200710  7/10/2020 11:00  2020-07-10T11:00:00Z
2  20200710  7/10/2020 14:46  2020-07-10T14:46:00Z
3  20200710   7/1/2020 00:00  2020-07-01T00:00:00Z
4  20200710  7/10/2020 00:00  2020-07-10T00:00:00Z

### You can also use `.iloc` where 'i' means 'index' and `loc`. The format is `data.(i)loc[row,col]`.

In [47]:
df_daily.loc[0:2, ["date", "positive", "state"]]

       date  positive state
0  20200710    1323.0    AK
1  20200710   50508.0    AL
2  20200710   26803.0    AR

In [51]:
# to select all row
print(df_daily.loc[:, ["state"]])
print(df_daily[["state", "positive"]])

     state
0       AK
1       AL
2       AR
3       AS
4       AZ
...    ...
7124    WA
7125    WA
7126    WA
7127    WA
7128    WA

[7129 rows x 1 columns]
     state  positive
0       AK    1323.0
1       AL   50508.0
2       AR   26803.0
3       AS       0.0
4       AZ  116892.0
...    ...       ...
7124    WA       2.0
7125    WA       2.0
7126    WA       2.0
7127    WA       2.0
7128    WA       2.0

[7129 rows x 2 columns]

### Using `.iloc`

In [54]:
print(df_daily.iloc[4:7, 0:3])  # three rows and three columns

       date state  positive
4  20200710    AZ  116892.0
5  20200710    CA  304297.0
6  20200710    CO   35525.0

# 
## <font color='blue'> 3. Convert to datatime

In [38]:
df_daily[["date", "lastUpdateEt", "dateModified"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7129 entries, 0 to 7128
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          7129 non-null   int64
 1   lastUpdateEt  6785 non-null   object
 2   dateModified  6785 non-null   object
dtypes: int64(1), object(2)
memory usage: 167.2+ KB

In [55]:
df_daily[["date", "lastUpdateEt", "dateModified"]].head()

       date     lastUpdateEt          dateModified
0  20200710  7/10/2020 00:00  2020-07-10T00:00:00Z
1  20200710  7/10/2020 11:00  2020-07-10T11:00:00Z
2  20200710  7/10/2020 14:46  2020-07-10T14:46:00Z
3  20200710   7/1/2020 00:00  2020-07-01T00:00:00Z
4  20200710  7/10/2020 00:00  2020-07-10T00:00:00Z

## 
#### <font color='green'> Now you can see they are in the wrong format. We are expecting them in `datetime64[ns]` format. We will use `pd.to_datetime` function.

In [66]:
pd.to_datetime(df_daily.loc[:, "dateModified"])

0      2020-07-10 00:00:00+00:00
1      2020-07-10 11:00:00+00:00
2      2020-07-10 14:46:00+00:00
3      2020-07-01 00:00:00+00:00
4      2020-07-10 00:00:00+00:00
                  ...
7124                         NaT
7125                         NaT
7126                         NaT
7127                         NaT
7128                         NaT
Name: dateModified, Length: 7129, dtype: datetime64[ns, UTC]

In [67]:
pd.to_datetime(df_daily["date"])

0      1970-01-01 00:00:00.020200710
1      1970-01-01 00:00:00.020200710
2      1970-01-01 00:00:00.020200710
3      1970-01-01 00:00:00.020200710
4      1970-01-01 00:00:00.020200710
                    ...
7124   1970-01-01 00:00:00.020200126
7125   1970-01-01 00:00:00.020200125
7126   1970-01-01 00:00:00.020200124
7127   1970-01-01 00:00:00.020200123
7128   1970-01-01 00:00:00.020200122
Name: date, Length: 7129, dtype: datetime64[ns]

# 
### <font color='green'> Or we can do this process when we read the data to pandas dataframe.
### <font color='red'> Use `parse_dates` argument in `pd.read_csv`. You might want to look up the usage by typing `help(pd.read_csv)`.

In [71]:
df_daily = pd.read_csv(
    "https://raw.githubusercontent.com/thoo/covid-tracking-data/master/data/states_daily_4pm_et.csv",
    parse_dates=xxxx,
)

In [72]:
df_daily.head(3)

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,2020-07-10,AK,1323.0,140608.0,NaN,30.0,NaN,NaN,NaN,0.0,...,141931,0,0,7337a3e96732733e1dad90b6631e3e4316bba0ff,0,0,0,0,0,NaN
1,2020-07-10,AL,50508.0,441708.0,NaN,1183.0,3089.0,NaN,888.0,NaN,...,492216,36,50,9e12c62a712d9f83add02bd471d6608745a2c76a,0,0,0,0,0,NaN
2,2020-07-10,AR,26803.0,338609.0,NaN,402.0,1743.0,NaN,NaN,84.0,...,365412,4,38,3ebd2a7aee71250e30472d87c0a43986dfcd32aa,0,0,0,0,0,NaN

# 
## <font color='blue'> 4. Filter rows
    There are several ways to select the desired rows:
    1. using logic symbol
    2. using date range
    3. using string matching

In [74]:
df_daily.loc[df_daily['state'] == 'AK',['state','date','positive','negative']].head()

    state       date  positive  negative
0      AK 2020-07-10    1323.0  140608.0
56     AK 2020-07-09    1272.0  134472.0
112    AK 2020-07-08    1226.0  132175.0
168    AK 2020-07-07    1184.0  130236.0
224    AK 2020-07-06    1138.0  122615.0

In [76]:
# to select more than one condition
df_daily.loc[df_daily['state'].isin(['AK','NY']),['state','date','positive','negative']].head()

    state       date  positive   negative
0      AK 2020-07-10    1323.0   140608.0
37     NY 2020-07-10  400299.0  4141275.0
56     AK 2020-07-09    1272.0   134472.0
93     NY 2020-07-09  399513.0  4068503.0
112    AK 2020-07-08    1226.0   132175.0

### You can also use logic & (and), or (|)

In [83]:
df_daily['positive']

0         1323.0
1        50508.0
2        26803.0
3            0.0
4       116892.0
          ...
7124         2.0
7125         2.0
7126         2.0
7127         2.0
7128         2.0
Name: positive, Length: 7129, dtype: float64

In [87]:
df_daily.loc[(df_daily['state']=='AK')|(df_daily['state']=='NY') ,['state','date','positive','negative']].head()

    state       date  positive   negative
0      AK 2020-07-10    1323.0   140608.0
37     NY 2020-07-10  400299.0  4141275.0
56     AK 2020-07-09    1272.0   134472.0
93     NY 2020-07-09  399513.0  4068503.0
112    AK 2020-07-08    1226.0   132175.0

# 
### <font color='red'> Can you corrent the following cell since it is not showing any output?

In [88]:
df_daily.loc[((df_daily['state']=='AK')|(df_daily['state']=='NY') ) & df_daily['positive'] > 100.0,['state','date','positive','negative']].head()

Empty DataFrame
Columns: [state, date, positive, negative]
Index: []

# 
### Let filter by date

In [90]:
df_daily.loc[df_daily['date'] > ('2019-03-01'),['state','date','positive','negative']].head()

  state       date  positive  negative
0    AK 2020-07-10    1323.0  140608.0
1    AL 2020-07-10   50508.0  441708.0
2    AR 2020-07-10   26803.0  338609.0
3    AS 2020-07-10       0.0     816.0
4    AZ 2020-07-10  116892.0  552319.0

# 
### <font color='red'> How can we get only rows between 2019-03-01 and 2019-03-30?

### Let get the rows with the state name start a capital letter `A`

In [92]:
df_daily.loc[df_daily['state'].str.startswith('A')].head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,2020-07-10,AK,1323.0,140608.0,NaN,30.0,NaN,NaN,NaN,0.0,...,141931,0,0,7337a3e96732733e1dad90b6631e3e4316bba0ff,0,0,0,0,0,NaN
1,2020-07-10,AL,50508.0,441708.0,NaN,1183.0,3089.0,NaN,888.0,NaN,...,492216,36,50,9e12c62a712d9f83add02bd471d6608745a2c76a,0,0,0,0,0,NaN
2,2020-07-10,AR,26803.0,338609.0,NaN,402.0,1743.0,NaN,NaN,84.0,...,365412,4,38,3ebd2a7aee71250e30472d87c0a43986dfcd32aa,0,0,0,0,0,NaN
3,2020-07-10,AS,0.0,816.0,NaN,NaN,NaN,NaN,NaN,NaN,...,816,0,0,004c2c497969b52749e6bc8d88e68f7e39c1818b,0,0,0,0,0,NaN
4,2020-07-10,AZ,116892.0,552319.0,NaN,3432.0,5659.0,876.0,NaN,615.0,...,669211,44,133,2c23eaf50b677706200aa0be2e84a000193f759f,0,0,0,0,0,NaN

# 
### <font color='red'> How can we get the rows with the state name ending with a capatical letter `R`? (Hint: endswith)
### <font color='red'> How can we get the rows with the state name containing with a capatical letter `A`? (Hint: contains)